<!DOCTYPE html>
<html>

<head>
    <title>Burnaby Campus Map</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css">
    <script type="text/javascript" src="/public/js/burnaby_map.js"></script>
    <style>
        #map {
            align-self: center;
            height: 94%;
            width: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
          position: absolute;
          top: 10px;
          left: 25%;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
          text-align: center;
          font-family: "Roboto", "sans-serif";
          line-height: 30px;
          padding-left: 10px;
        }
    </style>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home - Faculty</a>
                </li>
                <li>
                    <ul>
                        <li><a href="meetup">Meetups</a></li>
                        <li><a href="room_finder">Room Finder</a></li>
                        <li><a href="minigame">Minigame</a></li>
                        <li><a href="burnaby_map" class="active">View Your Location - Campus Map</a></li>
                        <li><a href="burnaby_events">View Upcoming Events</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="floating-panel">
      <input onclick="clearMarkers()" type="button" value="Hide Markers" />
      <input onclick="showMarkers()" type="button" value="Show All Markers" />
    </div>
    <div id="map">
    </div>
    <script type="text/javascript" src="/public/js/burnaby_map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOG78YkbxyjS10mfcWE0ivR_QIOjuIcw&callback=init"></script>
</body>

</html>
