<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css" />
    <title>StudyScapes No Home Page</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="/"><span></span>Login</a>
                </li>
                <li>
                    <ul>
                        <li><a href="about_team">About the Team</a></li>
                        <li><a href="about_app">StudyScapes - The App</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>No Home Page</h2>
        <p>Sorry, but it looks like your home page isn't loading (or some other error has occurred with your login/sign up)!</p>
        <p>Please check your connection or contact an admin if you have any concerns.</p>
        <p>Create an Account <a href="sign_up">here</a></p>
    </p>
    <br>
    <hr>
    <p>
        <button class="button"></button><a href="/">Go Back to the Login Page</a></button>
    </p>
</body>

</html>