<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css" />
    <title>StudyScapes No Meetups Page</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home</a>
                </li>
                <li>
                    <ul>
                        <li><a href="meetup">View All Meetups</a></li>
                        <li><a href="room_finder">Room Finder</a></li>
                        <li><a href=>Minigame</a></li>
                        <li><a href="burnaby_map">View Your Location - Campus Map</a></li>
                        <li><a href="burnaby_events">View Upcoming Events</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>No Meetups Page</h2>
        <p>Sorry, but it looks like you don't have any meetups scheduled right now (or some other error has occurred with your meetings)!</p>
        <p>Please contact an admin if you have any concerns.</p>
        <p>Request a meeting <a href="meetup_request">here</a></p>
    </p>
    <br>
    <hr>
    <p>
        <button class="button"><a href="home">Go Back to the Home Page</a></button>
    </p>
</body>

</html>