<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/study_scapes.css" />
    <title>About The Team</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="login"><span></span>Login</a>
                </li>
                <li>
                    <ul>
                        <li><a href="about_team" class="active">About the Team</a></li>
                        <li><a href="about_app">StudyScapes - The App</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>Meet the Team!</h2>
        <p>
            <div class="bold">Celina Wright:</div> Celina has been programming for 6 years, much of it at Douglas College, and is now
            <br>in her fourth year of studies at Simon Fraser University. Her strongest skill set is with Object Oriented Programming.
            <br>She has plenty of experience with Java and C#, and a moderate amount of experience with web design.
            <br>She also greatly enjoys working with databases and querying, has experience normalizing databases,
            <br>and can work well with SQL, SQLite, MongoDB,and PostgreSQl.
        </p>
        <p>
            <div class="bold">Josh Guo:</div> Josh is a third-year student at SFU and transferred from Mechatronics last semester.
            <br>He started programming 4 years ago, mostly with Python and C. Most of Josh’s experience is with backend programming
            <br>and design, focusing on performance optimization and resourceful memory usage.
        </p>
        <p>
            <div class="bold">Mandeepa Mashhura:</div> Mandeepa is a second-year engineering student at Simon Fraser University,
            <br>who is very passionate about the field. She has experience in programming languages like C++ and Python. She is
            <br>very confident in her abilities to pick up and learn new technologies and languages if needed. She strives to
            <br>be a great asset to our team.
        </p>
        <p>
            <div class="bold">Parth Vakil:</div> Parth is a third-year SFU student in Computing Science. He mainly has experience
            <br>in Python and C++. He enjoys back-end programming and is known to dabble into front-end as well. He also has worked
            <br>with location-based software in the past, which will be an asset in pushing this idea forward. Web development is
            <br>also a passion of his, which will help overall throughout this project.
        </p>
    </p>
</body>

</html>