<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/study_scapes.css" />
    <title>About The App</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="login"><span></span>Login</a>
                </li>
                <li>
                    <ul>
                        <li><a href="about_team">About the Team</a></li>
                        <li><a href="about_app" class="active">StudyScapes - The App</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>StudyScapes - The App!</h2>
        <p>
            <b>What is the problem we are trying to solve?</b>
            <br>Interaction among faculty and students is a very important part of the learning and growing process at university.
            <br>This application not only makes the process easier but encourages it in a fun and interactive way. Previous
            <br>applications, like SFU Snap, attempted to solve the navigation problem for new students lost on a large campus
            <br>but our application strives to include that feature and many more! This serves as both an educational and
            <br>entertaining application for students and faculty alike at Simon Fraser University.
        </p>

        <p>
            This application, StudyScapes, will allow users to login to their account and view the Simon Fraser University campus
            <br>as a virtual map. Login views will differ for faculty and students. This uses the Web API for Google Maps for
            <br>location and time updates. As a real-time feature, this application will use Socket.io to update requests made to
            <br>professors or students for meetings and study groups in real time. This application enables quick meetups and
            <br>easy navigation for users. The application is not just practical, but fun! There are minigames incorporated to
            <br>help the user kill time while waiting between meetups (they can even battle their professors!).
        </p>
    </p>
</body>

</html>