<!DOCTYPE html>
<html>
    <head>
        <title>Burnaby Campus Map</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/study_scapes.css">
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="home_fa" class="active"><span></span>Home - Faculty</a>
                    </li>
                    <li>
                        <ul>
                            <li><a href="">Review/Request Meetups</a></li>
                            <li><a href="">Room Finder</a></li>
                            <li><a href="">Minigame</a></li>
                            <li><a href="login">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="map">
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
        </div>
    </body>
</html>