<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/study_scapes.css" />
    <title>StudyScapes Login Page</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="login" class="active"><span></span>Login</a>
                </li>
                <li>
                    <ul>
                        <li><a href="">About the Team</a></li>
                        <li><a href="">StudyScapes - The App</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>Login here - as student or faculty - to access StudyScapes!</h2>
        <form method="POST" action="/login">
            <p>
                <input type="test" name="username" id="username" value="" placeholder="Username">
                <input type="password" name="password" id="password" value="" placeholder="Password">
            </p>
            <p>
                <input type="submit" class="button" value="Login">
            </p>
        </form>
        <div id="login_result" class="login_result"></div>
    </p>
</body>

</html>