<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css" />
    <title>StudyScapes Invalid Login</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="/"><span></span>Login</a>
                </li>
                <li>
                    <ul>
                        <li><a href="about_team">About the Team</a></li>
                        <li><a href="about_app">StudyScapes - The App</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>Invalid Login</h2>
        <p>Sorry, but it looks an error has occurred with your Login to StudyScapes!</p>
        <p>Try a different username/password or contact an admin for assistance.</p>
        <p>Want to try creating a new account? Click <a href="sign_up">here</a></p>
    </p>
    <br>
    <hr>
    <p>
        <button class="button"><a href="/">Go Back to the Login Page</a></button>
    </p>
</body>

</html>